.finance_department_home_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    &__title {
      width: 80%;
      height: 10%;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  
    &__cards {
      height: 90%;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 5%;
      &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bff1ec;
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #0452a3;
        font-size: 2rem;
        gap: 1rem;
      }
    }
  }
  